<div class="catalogue-item">
    <h1 class="catalogue-title">
        {{ .Params.book_title }}, by {{ .Params.book_author  }} -
    </h1>
    <div class="catalogue-line"></div>
    <p>
        {{ .Content  }}
    </p>
    <p>
        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
        -
        <a href="{{ .Permalink }}">permalink</a>
    </p>
</div>
