<div class="post-info">
    {{- if .Params.book_title }}
        {{ .Params.book_title }}
    {{- end }}
    {{- if .Params.book_author }}
        by {{ .Params.book_author }}
    {{- end }}

    {{- if .PublishDate }}
        <br>
        <time datetime="{{ .PublishDate }}">{{ i18n "publishdate" . }}</time>
    {{- end }}
</div>
